/* set the body color to light blue */
body {
    background-color: #e6f2ff;
    /* position everything in the center of the page vertically and horizontally */
    position: fixed;
    top: 50%;
    left: 50%;
    font-family: 'Lexend Deca', sans-serif; 
    color: #2E475D;    
    transform: translate(-50%, -50%);
}

.top-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.score-round {
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    /* make rounded corners */
    border-radius: 10px;
}

.bottom-row {
    /* position a set of buttons in the center of the page and allign them in row */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* make the buttons to be the same size */
    width: 100%;
}

button {
    margin-top: 10px;
    font-size: 20px;
    padding: 10px 10px;
    background-color: #90909e;
    color: white;
    border: 10px;
    /* make border radius smooth */
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px;
}

/* change button color when pressed */
button:active {
    background-color: #000000;
}

/* make all images to be the same size while keeping proportions */
img {
    display: block;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
    /* position them in the center */
    margin-left: auto;
    margin-right: auto;
    /* add equal borders on top and on the bottom of the image */
}

/* everything with the class reminder everything should be centered */
.reminder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: small;
    font-style: italic;
}

.hint-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #ff0022;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
  }
  
  #reminder {
    position: relative;
    margin-bottom: 100px; /* Add some margin at the bottom to make space for the hint button */
  }

  .hint-image-container {
    position: fixed;
    top: 80%;
    left: 10%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px; /* Adjust the padding to make the hint box smaller */
    border: 1px solid #000;
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .hint-image {
    max-width: 150px; /* Adjust the max-width to make the images smaller */
    max-height: 150px; /* Adjust the max-height to make the images smaller */
    margin: 10px;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
