/* set the body color to light blue */
body {
    background-color: #e6f2ff;
    /* position everything in the center of the page vertically and horizontally */
    position: fixed;
    top: 50%;
    left: 50%;
    font-family: 'Lexend Deca', sans-serif; 
    color: #2E475D;    
    transform: translate(-50%, -50%);
}

.score-row {
    /* position items in the top right corner of the page */
    position: absolute; 
    right: 0; 
    top: 0; 
}

.top-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.bottom-row {
    /* position a set of buttons in the center of the page and allign them in row */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* make the buttons to be the same size */
    width: 100%;
}

button {
    margin-top: 10px;
    font-size: 20px;
    padding: 10px 10px;
    background-color: #90909e;
    color: white;
    border: 10px;
    /* make border radius smooth */
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px;
}

/* change button color when pressed */
button:active {
    background-color: #000000;
}

/* make all images to be the same size while keeping proportions */
img {
    display: block;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
    /* position them in the center */
    margin-left: auto;
    margin-right: auto;
    /* add equal borders on top and on the bottom of the image */
}

/* everything with the class reminder everything should be centered */
.reminder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: small;
    font-style: italic;
}